backup
*.csv
op_mods/cod/fish_down
op_mods/cod/flat_msy
op_mods/cod/two_way_trip
op_mods/capelin/fish_down
op_mods/capelin/flat_msy
op_mods/capelin/two_way_trip
op_mods/flatfish/fish_down
op_mods/flatfish/flat_msy
op_mods/flatfish/two_way_trip
op_mods/var_rec/cod/fish_down
op_mods/var_rec/cod/flat_msy
op_mods/var_rec/cod/two_way_trip
op_mods/var_rec/capelin/fish_down
op_mods/var_rec/capelin/flat_msy
op_mods/var_rec/capelin/two_way_trip
op_mods/var_rec/flatfish/fish_down
op_mods/var_rec/flatfish/flat_msy
op_mods/var_rec/flatfish/two_way_trip
age_data_var_rec/age_*
msd_up_advr/age_*
msd_up_advr/run*
age_length_prop/age_*
op_mods/landings/cod_fish_down
op_mods/landings/cod_flat_msy
op_mods/landings/cod_two_way_trip
op_mods/landings/capelin_fish_down
op_mods/landings/capelin_flat_msy
op_mods/landings/capelin_two_way_trip
op_mods/landings/flatfish_fish_down
op_mods/landings/flatfish_flat_msy
op_mods/landings/flatfish_two_way_trip
